body{
    background: #222;
}
.main{
    height: 800px;
    display: flex;
    justify-content: center;
}
.App{
    margin-top: 10%;
    margin-bottom: 80%;
    /* border: 2px solid red; */
    height: 620px;
    width: 500px;
    border-radius: 7%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    
}

.imagediv{
    /* border: 2px solid blue; */
    height: 150px;
    display: flex;
    justify-content: center;
}

.footerdiv{
    /* border: 2px solid pink; */
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerdiv h1{
    margin-top: 5px;
}

.footerdiv p{
    margin-top: -30px;
    font-size: 30px ;

}


.footerdiv h1{
    font-size: 70px;
}


.searchdiv{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.searchdiv input{
    height: 50px;
    width: 90%;
    margin-right: 20px;
    margin-left: 4%;
    margin-top: 3%;
    border-radius: 10px;
    border: 0; outline: 0;
    background:  #ebfffc;
    color: #555;
    font-size: 18px;
    margin-left: 10%;
}
.searchdiv button{
    margin-top: 3%;
    margin-right: 7%;
    height: 10%;
    border-radius: 50%;

}

.searchdiv button img{
    height: 10%;
    width: 90%;
    border-radius: 50%;
}

.footer2{
    /* border: solid yellow 2px; */
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Detail{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 30px; */
}
.Detail h1{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
}
.second{
    margin-top: 30px;
}
.Detail img{
    height: 50%;
}
