.Container{
    /* border: 2px solid red; */
    margin: 12%;
    width: 90%;
    max-width: 700px;

}

.Display{
    /* border: 2px solid blue; */
    margin-top: 10% ;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px 20px;
    background: #fff;
    color: #333;
    border-radius: 5px;
}

.Container h1{
    font-weight: 500;
    font-size: 45px;
}

.Container h1 span{
    margin-top: 10%;
    border-bottom: 5px solid #019f55;
}

body{
    background: #002339;
    color: #fff;
    padding-bottom: 30px;
}

.Display img{
    width: 30px;
    cursor: pointer;
}

.Display input{
    border: 0;
    outline: 0;
    font-size: 25px;
}

.Container button img{
    width: 28px;
    margin-right: 10px;
    
}

.Container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}